.textareaResultado{
    width: 100%; /* Ancho del textarea */
    min-height: 150px; /* Altura mínima del textarea */
    padding: 10px; /* Espacio interior */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
    resize: vertical; /* Permitir redimensionar en altura */
    
}